.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: "Monaspace Argon", monospace;
  gap: 1rem;
}

.button {
  transition: background-color 0.1s ease;
  border-radius: 0.375rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--secondary-color);
  }
  &:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
  }
}

.text {
  text-align: center;
  min-width: 100px;
}
