.cell {
  padding: 0.25rem;
  vertical-align: middle;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
}
.image {
  border-radius: 0.375rem;
  height: 4rem;
  object-fit: contain;
}
