.primary-button {
  color: var(--text-on-primary-color);
  background-color: var(--primary-color);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  width: max-content;
  transition: outline 0.075s linear;
}

.primary-button:focus {
  outline: 3px;
  outline-color: var(--accent-color);
  outline-style: solid;
}
