.nav {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 100%;
  > * {
    width: 100%;
  }
}

.link {
  display: block;
  width: fit-content;
}
