.light-theme {
  --text-color: #1a202c;
  --background-color: #ffffff;

  --primary-color: #1a202c;
  --primary-hover: #303641;
  --text-on-primary-color: #ffffff;

  --secondary-color: #eaeaec;

  --accent-color: #0369a1;
}
