.window {
  border-radius: 0.375rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.375rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-color);
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: auto;
}
