@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Argon";
  src: url("/fonts/MonaspaceArgon-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

svg {
  fill: var(--text-color);
}
