.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.375rem;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  height: 200px;
  width: 200px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
