.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-weight: 600;
}

.input {
  max-width: 300px;
  padding: 0;
  height: 2rem;
}
