@mixin color-animation {
  transition: background-color 0.1s ease;
}

.trigger {
  @include color-animation;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.wrapper {
  position: relative;
}

.list {
  position: absolute;
  left: calc(50% - 1.25rem);
  top: 2.5rem;
  background-color: var(--background-color);
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  border: 1px solid var(--secondary-color);
  gap: 0.25rem;
  z-index: 50;
}

.item {
  @include color-animation;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: var(--secondary-color);
  }
}
